/*ESTILO PARA A TABELA*/

/*estilo de bordas*/
table, td, th{
    border: solid 1px black
}
table{
    border-collapse: collapse;
    text-align: center;
}
td{
    width: 200px;
    font-size: 30px;

}
th{
    font-size: 25px;
    background-color: yellow;
}
/*estilo de cores da tabela*/

/*estilo de comportamento da tabela*/